# Object files
.vscode/settings.json
chat
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Zig build artifacts
.zig-cache/
zig-out/
c/chat-clang-c17
c/chat-clang-c23
c/chat-gcc-c17
c/chat-gcc-c23
